*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
    background-color: #0f0f0f;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

}
.player-wrapper{
    width: 100%;
    height: 500px;
    
}

  .react-player {
    width: 80% !important;
    height: 100% !important;
    margin: 20px auto;
  }
button{
  cursor: pointer;
}
  .below{
    background-color: #0f0f0f;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
  }
  .title{
    margin: 20px 50px;
    color: #f1f1f1;
    word-break: break-word;
    font-size: 18px;
    line-height: 2.8rem;
    font-weight: 600;
  }
.panel{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px;
}
  .firstCol{
    margin-top: -4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
  }
  .whosChanelIs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .whosChanelIs img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .name{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2px;
  }

  .name p{
    color: #f1f1f1;
    font-size: 16px;
  }
  .name span{
    color: #AAAAAA;
    font-size: 12px;
  }

  .subscribe{
    display: flex;
    flex-wrap: wrap;
  }

  .subscribe button{
    background-color: #f1f1f1;
    width: 95px;
    border-radius: 20px;
    border: none;
  }

  .secondCol{
    display: flex;
    flex-wrap: wrap;

  }

  .likeUnlike{
    /* width: 200px; */
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    margin-right: 120px;

  }
  .but-holder{
    display: flex;
    flex-wrap: wrap;

  }
.like{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: ; */
}
.likebutton,
.unlikebutton{
  width: 79px;
  height: 30px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
}
.likebutton{
 border-radius: 10px 0 0  10px;
 background-color: #ffffff1A;
}

.unlikebutton{
 border-radius:  0 10px 10px 0;
 background-color: #ffffff1A;
}
.likebutton span{
  padding: 10px;
}
.likebutton-img{
  width: 20px;
  height: 20px;
}
.line{
  width: 1px;
  height: 30px;
  border: 1px solid rgb(97, 93, 93);
}
.share{
  background-color: #ffffff1A;
  width: 92px;
  height: 30px;
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;
}
.download{
  background-color: #ffffff1A;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}
.bspan{
  color: #f1f1f1;
}
.dots{
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff1A;
}
.dots img{
  width: 25px;
  height: 25px;
}

.review{
  width: 80%;
  margin: 50px ;
  color: #f1f1f1;
  background-color: #ffffff1A;
  border-radius: 10px;
  
}
.rev-txt{
  padding: 10px
}
.maintxt{
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.maintxt h2{
  font-size: 15px;
}

.maintxt span{
  font-size: 12px;
}